description "Play Framework server"
author      "Jean-Loïc Hervo"

start on starting <%= app %>-<%= name %>
stop on stopping <%= app %>-<%= name %>

env PORT=<%= port %>
<% engine.env.each do |name,value| -%>
env <%= name.upcase %>='<%= value.gsub(/'/, "'\"'\"'") %>'
<% end -%>

chdir <%= engine.root %>

exec sudo -u <%= user %> <%= process.command %>

pre-start script
  mkdir -p /var/run/<%= app %>
  chown -R <%= user %>:<%= user %> /var/run/<%= app %>
end script

pre-stop script
	rm  -rf /var/run/<%= app %>
end script
