check process <%= fetch(:application) %> with pidfile <%= play_pid_path %>
  group app
  start program = "/sbin/start <%= fetch(:application) %>"
  stop program = "/sbin/stop <%= fetch(:application) %>"
  if 5 restarts within 5 cycles then alert
