upstream upstream_<%= fetch(:application) %> {
  server 127.0.0.1:<%= fetch(:nginx_upstream_port) %>;
}

server {
  listen 80;
  server_name <%= host %>;

  client_max_body_size 4G;
  keepalive_timeout 10;

  try_files $uri @upstream_<%= fetch(:application) %>;

  location @upstream_<%= fetch(:application) %> {
    proxy_buffering    off;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Scheme $scheme;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   Host $http_host;
    proxy_http_version 1.1;

    proxy_pass http://upstream_<%= fetch(:application) %>;
  }
}
