web: <%= play_bin_file %> -Dconfig.file=<%= play_config_file_path %> -Dpidfile.path=<%= play_pid_path %> -Dhttp.address=<%= fetch(:play_http_address) %> -Dhttp.port=${PORT} -DapplyEvolutions.<%= fetch(:play_db_name) %>=<%= fetch(:play_apply_evolutions) %> -Dlogger.file=<%= play_log_config_file_path %>
